.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
  padding-left: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  background-color: #ffffff;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 2px;
}
