.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
