.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.reservation__title {
  margin: 0 auto 80px auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 385px;
}
