.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header__title {
  max-width: 709px;
  margin: 0 0 28px 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #000000;
  margin: 183px 0 0 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
}
